<h1>Skate Park</h1>

<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form action="/signIn" method="post">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input name="inputEmail" class="form-control w-50 m-auto" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="inputPassword" class="form-control w-50 m-auto" />
      </div>
    </div>
    <button class="btn btn-success mb-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="https://app-skate-park.herokuapp.com/registro">Regístrate</a></p>
  </form>
</div>